.includedInner {
  margin-top: 100px;
}

.includedHead {
  display: flex;
  justify-content: space-between;
}

.includedHeadHeader {
  font-weight: 400;
  font-size: 35px;
  line-height: 98%;
  color: #9398a6;
  margin: 0;
}

.includedHeadHeader pre {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  white-space: pre;
}

.includedHeadContent {
  display: flex;
  gap: 30px;
  align-items: center;
}

.includedHeadContentText {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  text-align: right;
  color: #868686;
  width: 480px;
  margin: 0;
}

.logoHeader {
  width: auto;
  height: auto;
}

.includedContent {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  gap: 20px;
}

.includedBlock {
  position: relative;
  width: 50%;
}

.includedBlockImage {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  max-height: 589px;
}

.includedBlockWrap {
  position: static;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* .includedBlockWrap::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #071628;
} */

/* .includedBlock:first-child .includedBlockWrap::before {
    height: 25%;
} */

.includedBlockRow {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 2;
  justify-content: space-between;
}

.includedBlockInfo {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.includedBlockName {
  font-weight: 400;
  font-size: 40px;
  color: #352c2c;
  white-space: nowrap;
  margin: 0;
}

.includedBlockText {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #4d4848;
  width: 270px;
  margin: 0;
}

.includedBlockButton {
  flex-shrink: 0;
  width: 219px;
}

.includedHeadHeader p {
  max-width: 100%;
}

.logoHeader {
  filter: brightness(0) saturate(100%) invert(17%) sepia(100%) saturate(4981%)
    hue-rotate(220deg) brightness(93%) contrast(99%);
}

@media screen and (max-width: 1919px) {
  .includedHeadContentText {
    font-size: 12px;
    width: 380px;
  }

  .logoHeader {
    width: 100px;
  }

  .includedBlockWrap {
    padding: 30px;
  }

  .includedBlockNumber {
    font-size: 18px;
  }

  .includedBlockRow {
    gap: 20px;
  }

  .includedBlockName {
    font-size: 31px;
  }

  .includedBlockText {
    font-size: 11px;
    width: 190px;
  }
}

@media screen and (max-width: 1439px) {
  .includedHeadHeader {
    font-size: 30px;
  }

  .includedHeadContentText {
    font-size: 11px;
    width: 330px;
  }

  .logoHeader {
    width: 90px;
  }

  .includedBlockWrap {
    padding: 20px;
  }

  .includedBlockNumber {
    font-size: 16px;
  }

  .includedBlockRow {
    gap: 10px;
  }

  .includedBlockButton {
    width: 160px;
  }
}

@media screen and (max-width: 1360px) {
  .includedBlockButton {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .includedBlockName {
    font-size: 25px;
  }

  .includedBlockText {
    font-size: 10px;
  }
}

@media screen and (max-width: 999px) {
  .includedHead {
    flex-direction: column;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  .includedHeadHeader {
    font-size: 25px;
    line-height: 110%;
    padding-left: 2%;
    text-align: left;
  }

  .includedHeadContent {
    flex-direction: column-reverse;
    margin-top: 80px;
    align-items: flex-end;
    gap: 20px;
    display: none;
  }

  .logoHeader {
    width: 117px;
  }

  .includedHeadContentText {
    font-size: 15px;
    line-height: 153%;
    width: 222px;
  }

  .includedContent {
    flex-direction: column;
    gap: 30px;
  }

  /* .includedBlock:last-child {
        display: none;
    } */

  .includedBlock {
    width: 100%;
    max-height: none;
  }

  .includedBlockWrap {
    padding: 0;
    padding-top: 30px;
  }

  .includedBlockImage {
    height: 303px;
  }

  .includedBlockRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .includedBlockInfo {
    flex-direction: column;
    gap: 20px;
  }

  .includedBlockName {
    font-size: 32px;
  }

  .includedBlockText {
    font-size: 15px;
    line-height: 133%;
    width: 100%;
  }
  .includedBlockButton {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .includedHeadHeader {
    font-size: 20px;
    line-height: 110%;
    padding-left: 2%;
  }
}
