/* ---------- customers block --------- */

/* .customersInner {
  margin-top: 120px;
} */

.customersHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.customersHeadHeader {
  font-weight: 400;
  font-size: 45px;
  line-height: 98%;
  color: #fff;
}

.customersHeadContent {
  display: flex;
  gap: 30px;
  align-items: center;
}

.customersHeadContentText {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  text-align: right;
  color: #fff;
  width: 480px;
}

.logoHeader {
  width: auto;
  height: auto; 
}

.customersContent {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  height: 810px;
  max-height: 80vh;
}

.customersBlocksWrap {
  display: flex;
  gap: 7px;
  flex: 1;
  justify-content: space-between;
  min-width: 0;
}

.customersBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  max-width: calc(42vw / 4 - 32px);
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-grow: 1;
}

.customersBlock:nth-child(1) {
  background: #014bfa;
}

.customersBlock:nth-child(2) {
  background: #003cca;
}

.customersBlock:nth-child(3) {
  background: #0034ae;
}

.customersBlock:nth-child(4) {
  background: #002989;
}

.customersBlock img {
  width: 30px;
}

.customersBlockIconUp {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 30px !important;
  height: 30px !important;
}

.customersBlockIconCenter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
  opacity: 1;
  width: 30px !important;
  height: 30px !important;
}

.customersBlockContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 290px;
  margin-bottom: 60px;
}

.customersBlockName {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #fff;
}

.customersBlockText {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #fff;
}

.customersImageWrap {
  flex: 1.2;
  width: 55vw;
  height: 100%;
  max-height: 95vh;
  position: relative;
}

.customersImageLogo {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
  width: 158px !important;
  height: auto !important;
}

.customersImageItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Активный блок */
.customersBlock.active {
  max-width: calc(45vw / 2.2 - 32px);
  align-items: flex-start;
}

.customersBlock.active .customersBlockIconUp {
  opacity: 1;
}

.customersBlock.active .customersBlockIconCenter {
  opacity: 0;
}

.customersBlock.active .customersBlockContent {
  opacity: 1;
}

/* При наведении */
.customersBlock:hover {
  align-items: flex-start;
  flex-grow: 1;
  width: auto;
}

.customersBlock:hover .customersBlockIconUp {
  opacity: 1;
}

.customersBlock:hover .customersBlockIconCenter {
  opacity: 0;
}

.customersBlock:hover .customersBlockContent {
  opacity: 1;
}

/* Стили для pre элементов */
.pc {
  display: block;
}

.mobile {
  display: none;
}

/* Media queries */
@media screen and (max-width: 1919px) {
  .customersHeadHeader {
    font-size: 33px;
  }
  
  .logoHeader {
        width: 100px;
    }

  .customersHeadContentText {
    font-size: 11px;
    width: 360px;
  }

  .customersBlockContent {
    width: 220px;
  }

  .customersBlockName {
    font-size: 20px;
  }

  .customersBlockText {
    font-size: 12px;
  }

  .customersImageLogo {
    width: 110px !important;
  }

  .customersBlock img {
    width: 22px;
  }

  .customersBlockIconUp,
  .customersBlockIconCenter {
    width: 22px !important;
    height: 22px !important;
  }
}

@media screen and (max-width: 1439px) {
  .customersHeadHeader {
    font-size: 30px;
  }

  .customersHeadContentText {
    font-size: 11px;
    width: 330px;
  }

  .customersBlockContent {
    width: 190px;
    width: 95%;
  }

  .customersBlockName {
    font-size: 18px;
  }

  .customersBlockText {
    font-size: 10px;
  }
}

@media screen and (max-width: 999px) {
  .customersInner {
    margin-top: 60px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }

  .customersHead {
    flex-direction: column;
    width: 100%;
  }

  .customersHeadHeader {
    font-size: 30px;
    line-height: 110%;
    padding-left: 2%;
  }

  .customersHeadContent,
  .customersHeadContentText {
    display: none;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  .customersContent {
    flex-direction: column;
    height: auto;
    max-height: none;
  }

  .customersBlocksWrap {
    flex-direction: column;
  }

  .customersBlock {
    width: 100%;
    height: 461px;
    max-width: none;
    padding: 28px;
  }

  .customersBlockIconCenter {
    display: none;
  }

  .customersBlock.active {
    max-width: none;
  }

  .customersBlockIconUp {
    opacity: 1;
    width: 30px !important;
    height: 30px !important;
    top: 28px;
    left: 28px;
  }

  .customersBlock img {
    width: 30px;
  }

  .customersBlockContent {
    opacity: 1;
    margin-top: auto;
    margin-bottom: 30px;
    width: auto;
  }

  .customersBlockName {
    font-size: 25px;
    line-height: 120%;
  }

  .customersBlockText {
    font-size: 15px;
    line-height: 160%;
  }

  .customersImageWrap {
    height: 461px;
    max-height: none;
    flex: none;
    width: 100%;
  }

  .customersImageLogo {
    left: 28px;
    top: 28px;
  }
}

@media screen and (max-width: 430px) {
    .customersHeadHeader {
        font-size: 20px;
        line-height: 110%;
        padding-left: 2%;
    }
}