.hero-inner{
    position: relative;
    /* min-height: calc(var(--fixed-vh) - 30px); */
    min-height: 850px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-top: 15px;
    padding: 30px;
    overflow: hidden;
    justify-content: center;
}

.head-back-wrap {
    width: 100%;
    height: 100%;
}

.hero-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;  
    object-fit: cover;    
}

.hero__content {
    margin-top: auto;
    position: relative;
}

.hero__head {
    font-weight: 400;
    font-size: 70px;
    line-height: 107%;
    color: #fff;
    width: 1600px;
}

.hero__content-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 39px;
}

.hero__buttons-block {
    display: flex;
    gap: 28px;
}

.hero__description{
    font-size: 16px;
    color: #FFFFFF;
    max-width: 600px;
    line-height: 180%;
}

@media screen and (max-width: 1919px) {
    .hero__head {
        width: 1100px;
        font-size: 46px;
    }
}

@media screen and (max-width: 1439px) {
    .hero__head {
        width: 1000px;
        font-size: 42px;
    }
}

@media screen and (max-width: 1200px) {
    .hero__head {
        width: 900px;
        font-size: 40px;
    }
}

@media screen and (max-width: 999px) {
    .hero-inner {
        /* min-height: var(--fixed-vh); */
        min-height: 800px;
        padding: 0;
        gap: 0;
        justify-content: flex-end;
    }

    .head-back-wrap {
        width: 100%;
        overflow: hidden;
        border-radius: 20;
    }

    .hero-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        object-fit: cover;
    }

    .hero__head {
        font-size: 30px;
        line-height: 103%;
    }

    .hero__content {
        height: auto;
        min-height: 215px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 20px;
        margin-top: 0;
        border-radius: 0 0 30px 30px;
    }

    .hero__buttons-block {
        width: 100%;
        justify-content: space-between;
        order: 2;
        margin-top: 0;
    }

    /* Hide secondary button on mobile */
    .hero__buttons-block a:nth-child(2) {
        display: none !important;
    }

    .hero__head {
        width: 100%;
        font-weight: 400;
        font-size: 25px;
        line-height: 112%;
        width: 320px;
    }

    .hero__content-row{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 12px;
    }

    .hero__description{
        font-size: 14px;
        order: 1;
       
    }
}