.sliderButtons {
  display: flex;
  gap: 25px;
}

.sliderButton {
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;    
  transition: 0.3s;

}

.buttonSliderArrow {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

}

.sliderButton:hover {
  color: #fff;
  
  
}
/* .sliderButton:hover p {
  mix-blend-mode: difference;
} */

.sliderButton:hover .buttonSliderArrow {
  border: 1px solid #0840f4;
  background-color: #0840f4; 
}

.buttonSliderArrow img {
  width: 15px;
}

.buttonPrev .buttonSliderArrow img {
  transform: rotate(180deg);
}

.sliderButtons.lightVersion .sliderButton {
  color: #9398A6;
}

.sliderButtons.lightVersion .sliderButton:hover {
  color: #9398A6;
}

.sliderButtons.lightVersion .buttonSliderArrow {
  border: 1px solid #9398A6;
}

.sliderButtons.lightVersion .buttonSliderArrow img {
  filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(176deg) brightness(90%) contrast(85%);
}

.sliderButtons.lightVersion .sliderButton:hover .buttonSliderArrow img{
  filter: none;
}

/* Media Queries */
@media screen and (max-width: 1919px) {
  .sliderButtons {
    gap: 20px;
  }

  .buttonSliderArrow {
    width: 36px;
    height: 36px;
  }

  .buttonSliderArrow img {
    width: 11px;
  }

  .sliderButton {
    font-size: 13px;
  }
}

@media screen and (max-width: 999px) {
  .sliderButton {
    font-size: 16px;
  }

  .sliderButtons {
    gap: 10px;
  }


  .sliderButton:active {
    color: #fff;
  }

  .sliderButton:active .buttonSliderArrow {
    border: 1px solid #0840f4;
    background-color: #0840f4; 
  }
}