/* ---------- footer block ---------*/

.footer {
    width: 100%;
}

.footerInner {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: #0e0e0e;
}

.footerFirstRow {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.footerHeader {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #8b8b8b;
}

.footerBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerLogo {
    width: 92px;
    height: auto;
}

.footerBlockLinks {
    display: flex;
    gap: 40px;
}

.footerLink {
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.footerBlockIcons {
    display: flex;
    gap: 15px;
}

.footerIcon {
    display: inline-block;
}

.footerIcon img {
    width: 20px;
}

.footerSecondRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 140px;
    align-items: flex-end;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    opacity: 1;
    visibility: visible;
}

.footerPay {
    display: flex;
    gap: 22px;
    align-items: center;
}

.footerPayItem {
    height: auto;
}

.footerAddress {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footerAddressName {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin: 0;
}

.footerAddressText {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #696969;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 0;
}

.footerPolicy {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
}

.footerPrivacyText {
    font-weight: 400;
    color: #999999;
    font-size: 14px;
    text-decoration: none;
}

@media screen and (max-width: 1919px) {
    .footerText,
    .footerLink {
        font-size: 17px;
    }

    .footerLogo {
        width: 100px;
    }

    .footerHeader {
        font-size: 13px;
    }

    .footerSecondRow {
        margin-top: 100px;
    }

    .footerPayItem {
        width: 40px;
    }

    .footerPayItemSwift {
        width: 60px;
    }
    
    .footerAddressName {
        font-size: 15px;
    }

    .footerAddressText {
        font-size: 12px;
        width: 170px;
    }

    .footerPrivacyText {
        font-size: 12px;
    }

    .footerIcon img {
        width: 16px;
    }
}

@media screen and (max-width: 1439px) {
    .footerText,
    .footerLink,
    .footerPrivacyText {
        font-size: 13px;
    }

}

@media screen and (max-width: 999px) {
    .footerInner {
        margin-top: 40px;
        padding: 40px 20px;
        border-radius: 15px;
    }

    .footerFirstRow {
        row-gap: 60px;
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: auto auto auto;
    }

    .footerBlock:first-child {
        width: 100%;
        justify-content: center;
        align-items: center;
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .footerBlock:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
      
    .footerBlock:nth-child(3) {
        grid-column: 2;
        grid-row: 2 / span 2;
    }
    
    .footerBlock:nth-child(4) {
        grid-column: 1;
        grid-row: 3;
        justify-content: flex-end;
    }

    .footerHeader {
        font-size: 14px;
    }

    .footerText {
        font-size: 18px;
    }

    .footerLogo {
        width: 150px;
    }

    .footerBlockLinks {
        flex-direction: column;
    }

    .footerLink {
        font-size: 22px;
    }

    .footerSecondRow {
        flex-direction: column;
        margin-top: 50px;
        gap: 40px;
    }

    .footerPay {
        order: 1;
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }

    .footerPayItem {
        width: 60px;
    }

    .footerPayItemSwift {
        width: 80px;
    }

    .footerAddress {
        margin-top: 15px;
        order: 2;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
    }

    .footerAddressName {
        font-size: 20px;
    }

    .footerAddressText {
        font-size: 13px;
        width: 155px;
    }

    .footerPolicy {
        order: 3;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
    }

    .footerPrivacyText {
        font-size: 13px;
        text-align: center;
    }

    .footerIcon img {
        width: 20px;
    }
}