name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy via SSH
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} '
            cd bravex-front &&
            git pull &&
            yarn install --frozen-lockfile &&
            yarn build &&
            pm2 restart barvex-front-en &&
            cd &&
            cd bravex-front-ru &&
            git pull &&
            yarn install --frozen-lockfile &&
            yarn build &&
            pm2 restart barvex-front-ru &&
            cd &&
            cd bravex-front-sp &&
            git pull &&
            yarn install --frozen-lockfile &&
            yarn build &&
            pm2 restart barvex-front-sp
          '
